{% extends "base.html" %}

{% macro sidebar(location_obj) %}
<div class="container col-md-3 col-md-offset-9 sidebar" id="location-{{location_obj.id}}" style="display: none">
  
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-sidebar">{{location_obj.name}}</h3>
            <h6 class="text-sidebar">{{location_obj.lat}} and {{location_obj.lng}}</h6>
            <p class ="text-sidebar">{{location_obj.site_type}}</p>
            <p class="text-sidebar">{{location_obj.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class ="text-sidebar">Open: 5-6 on Sats</p>

        </div>
        <div class="col-md-6">
            <p class="text-sidebar">testing some more</p>
        </div>
    </div>

</div>

{% endmacro %}

{% block body %}

<div class="wrapper">
    <div id="map"></div>
</div>

{% for location in location_obj_list%}
    
    {{sidebar(location)}}
    
{% endfor %}
      
<script type="text/javascript">
</script>
   

<script type="text/javascript">
    

    // var map = L.map('map').setView([51.505, -0.09], 13);
  

//red style is 53004
    // L.tileLayer('http://{s}.tile.cloudmade.com/7a3e1ff58dc1489e92c5517894eebb4a/116196/256/{z}/{x}/{y}.png', {
    //     attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    //     maxZoom: 18
    // }).addTo(map);

    
    //set the marker image
    var marker = L.icon({
        iconUrl: 'static/css/images/marker-icon.png',
        shadowUrl: 'static/css/images/marker-shadow.png'
    });

    var cloudmadeAttribution = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors';
    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/7a3e1ff58dc1489e92c5517894eebb4a/{styleId}/256/{z}/{x}/{y}.png';

    //setting up base layers
    var dayMap = L.tileLayer(cloudmadeUrl, {styleId: 116196, attribution: cloudmadeAttribution});
    var nightMap = L.tileLayer(cloudmadeUrl, {styleId: 53004, attribution: cloudmadeAttribution});

    //setting up overlay layers
    // var sanFrancisco = L.marker([37.7833, -122.4167], {icon: marker}).bindPopup('Hi!');
    // var sanDiego = L.marker([32.7150, -117.1625], {icon: marker}).bindPopup('Hi!');
    // var portland = L.marker({lat:45.5200, lng:-122.6819}, {icon: marker}).bindPopup('Hi!');
    
    // var cities = L.layerGroup([sanFrancisco, sanDiego, portland]);

    //start the map off with cities and the dayMap layers
    //initial location set to an estimate of where the user is


    var markers =  new L.layerGroup();
    var locations = {{locations | safe}}
    for (var i = 0; i < locations.length; i++) {
        var markerInfo = locations[i];
        console.log(markerInfo.lat);
        var popupContent = "<b>"+markerInfo.name+"</b><p>"+markerInfo.description+"</p><a class='popUpLink' id="+markerInfo.id+">Learn More</a>"
        var markerLocation = L.marker([markerInfo.lat, markerInfo.lng], {icon: marker}).bindPopup(popupContent);
        markers.addLayer(markerLocation);
    };

    var map = L.map('map', {layers: [dayMap, markers]});
    map.locate({setView: true, maxZoom: 10});

    var baseMaps = {
        "Normal": dayMap,
        "Night Mode": nightMap
    };

    // if want to toggle, add to the control below after baseMaps
    var overlayMaps = {
        "Locations": markers
    };



    //creating the layer control that appears in top right corner
    L.control.layers(baseMaps, overlayMaps).addTo(map);

    // must have the map.on so that the link/event is assigned each time
    // a popup is opened
    // this shows the side bar when "Learn More" is clicked
    map.on('popupopen', function() {  
    $('.popUpLink').click(function(e){
        var location_id = $(this).attr('id');
        console.log("link clicked!");
        console.log(location_id);
        $(".sidebar").hide();
        $("#location-"+location_id).show();
      });
    });

    // closes sidebar when popup closes
    map.on('popupclose', function(){
        $(".sidebar").hide();
    });
   

</script>

{% endblock %}


